*{
    font-family: "Grey Qo", cursive;
    font-weight: 400;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    animation: bg 3s infinite linear;/* name type repition delay*/
}
section>div{
    background-color:violet;
    width: 25%;
    text-align: center;
    color: white;
    border-radius: 5px;


}
section > div >h2{
    font-size: 2rem;
    color: black;
}

section > div >h1{
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section > div >button{
    width: 20%;
    height: 3rem;
    color: black;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: white;
}
section>div>button:active{
    background-color: white;
}
@media (max-width:600px){
    section>div{
        width:60%;

    }
}
@media (min-width:601px) and (max-width:1000px){
    section>div{
        width:60%;

    }
}

@keyframes bg {
    0%{
        background-color: red;
    }
    25%{
        background-color: aqua;
    }
    50%{
        background-color: chartreuse;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: greenyellow;
    }
    
}

