*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    /* for box-sizing margin and padding imp */
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section > div{
    background-color: rgb(17, 22, 22);
    width: 30%;
    padding: 1rem;
    border-radius: 5px;
}
section > div > input{
        height: 4rem;
        padding: 0.5rem;
        outline: none;
}
section > div > button{
    height: 4rem;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 0, 0);
    background-color: rgb(90, 90, 223);
    margin-left: 1rem;
}
section > div >button:active{
    background-color: aliceblue;
}
h3{
    color: white;
    margin-top: 1rem;
}