*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#password{
    padding: 15px;
    width:400px;
    font-size: 1.2rem;

}